<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="3">

      <ion-row>
        <ion-col >
          <ion-button expand="full">C</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">+/-</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full" ><ion-icon name="backspace-outline"></ion-icon></ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">/</ion-button>
        </ion-col>
      </ion-row>
    
    
      <ion-row>
        <ion-col >
          <ion-button expand="full">7</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">8</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full" >9</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">*</ion-button>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col >
          <ion-button expand="full">4</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">5</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full" >6</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">-</ion-button>
        </ion-col>
      </ion-row>
    
    
      <ion-row>
        <ion-col >
          <ion-button expand="full">1</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">2</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full" >3</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">-</ion-button>
        </ion-col>
      </ion-row>
    
     
      <ion-row>
        <ion-col >
          <ion-button expand="full">0</ion-button>
        </ion-col>
    
        <ion-col >
          <ion-button expand="full">=</ion-button>
        </ion-col>
      </ion-row>
    

    </ion-col>
  </ion-row>

 
</ion-content>
